.pricing .card-container .card {
  border: 1px solid white;
  color: white;
  text-align: center;
  padding: 1rem;
 
}
.pricing .card-container .card:hover {
  background-color: #141414;
}
.pricing .card-container .card h3 {
  font-size: 1.4rem;
  padding: 1rem;
}
.pricing .card-container .card .bar {
  border-bottom: 1px solid #eee;
  width: 10%;
  display: block;
  margin: 0 auto;
}
.pricing .card-container .card .btc {
  font-size: 4rem;
  font-weight: 600;
  padding: 1rem 0;
}
.pricing .card-container .card .btn {
  display: block;
  width: 80%;
  margin: 2rem auto;
}
.pricing .card-container .card p {
  font-size: 1.4rem;
  padding: 10px 0;
}
