.project-heading {
  text-align: center;
  padding: 4rem 0 2rem 0;
  color: white;
}
.project-container {
  max-width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding-bottom: 5rem;
  color: white;
}
